.poke-card {
  border-radius: 20px;
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
  margin: 10px;
  padding: 20px;
  text-align: center;
  text-transform: capitalize;

  .card-content {
    .poke-image {
      background-color: rgba(255, 255, 255, 0.6);
      border-radius: 50%;
      width: 250px;
      height: 250px;
      text-align: center;

      img {
        margin-top: 20px;
        max-width: 90%;
      }
    }
    .poke-info {
      margin-top: 20px;
      .number {
        background-color: rgba(255, 255, 255, 0.6);
        border-radius: 10px;
        font-size: 0.8em;
        padding: 5px 10px;
      }

      .name {
        margin: 15px 0 7px;
        letter-spacing: 1px;
      }
    }
  }
}
