.sidebar {
  width: 250px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: black;

  .list-item {
  }
  .btn {
    width: 150px;
    margin: 20px;
  }

  h2 {
    color: white;
    margin: 100px 0px 50px 0px;
  }
}
