<div class="sidebar">
  <h2>Pokemon Generations</h2>

  <button
    [routerLink]="['/gen', 1]"
    [ngStyle]="{ 'background-color': '#FFFA24' }"
    class="btn"
    mat-raised-button
  >
    Gen I
  </button>
  <button
    [routerLink]="['/gen', 2]"
    [ngStyle]="{ 'background-color': '#BDDD6E' }"
    class="btn"
    mat-raised-button
  >
    Gen II
  </button>
  <button
    [routerLink]="['/gen', 3]"
    [ngStyle]="{ 'background-color': '#ACA974' }"
    class="btn"
    mat-raised-button
  >
    Gen III
  </button>
  <button
    [routerLink]="['/gen', 4]"
    [ngStyle]="{ 'background-color': '#5EB9B2' }"
    class="btn"
    mat-raised-button
  >
    Gen IV
  </button>
  <button
    [routerLink]="['/gen', 5]"
    [ngStyle]="{ 'background-color': '#FC0C0B' }"
    class="btn"
    mat-raised-button
  >
    Gen V
  </button>
  <button
    [routerLink]="['/gen', 6]"
    [ngStyle]="{ 'background-color': '#0A7ABC' }"
    class="btn"
    mat-raised-button
  >
    Gen VI
  </button>
  <button
    [routerLink]="['/gen', 7]"
    [ngStyle]="{ 'background-color': '#F55792' }"
    class="btn"
    mat-raised-button
  >
    Gen VII
  </button>
  <button
    [routerLink]="['/gen', 8]"
    [ngStyle]="{ 'background-color': '#8A55FD' }"
    class="btn"
    mat-raised-button
  >
    Gen VIII
  </button>
</div>
